{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4">
        <h1>Ajouter un nouveau bien</h1>
        {{ include ('admin/property/form.html.twig', {form: form, button: 'Ajouter'}) }}

    </div>

{% endblock %}

