{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4">
        <h1>Ajouter une nouvelle option</h1>
        {{ include ('admin/option/form.html.twig', {form: form, button: 'Ajouter'}) }}

    </div>

{% endblock %}

